In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [0]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

In [0]:
data.describe()

# Предобработка

In [2]:
answers = {} # создадим словарь для ответов

# предобработки:
profit = df['profit'] = df['revenue'].sub(df['budget'], axis=0)
#
#
# ...

NameError: name 'df' is not defined

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [33]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [32]:
# тут пишем ваш код для решения данного вопроса:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df.groupby(['imdb_id'])['budget'].max().sort_values(ascending = False)

imdb_id
tt1298650    380000000
tt0449088    300000000
tt2395427    280000000
tt0401729    260000000
tt0398286    260000000
               ...
tt0283111      5000000
tt0289043      5000000
tt2101441      5000000
tt2870612      5000000
tt4178092      5000000
Name: budget, Length: 1889, dtype: int64

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [35]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [3]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df.groupby(['imdb_id'])['runtime'].max().sort_values(ascending = False)

imdb_id
tt0279111    214
tt0167260    201
tt0462322    191
tt0360717    187
tt0213149    183
            ...
tt0361089     76
tt0299172     76
tt0283426     72
tt0280030     72
tt1449283     63
Name: runtime, Length: 1889, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [36]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [5]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df.groupby(['imdb_id'])['runtime'].min().sort_values(ascending = True)

imdb_id
tt1449283     63
tt0280030     72
tt0283426     72
tt0299172     76
tt0361089     76
            ...
tt0213149    183
tt0360717    187
tt0462322    191
tt0167260    201
tt0279111    214
Name: runtime, Length: 1889, dtype: int64

# 4. Какова средняя длительность фильмов?

In [37]:
answers['4'] = 110

In [6]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# 5. Каково медианное значение длительности фильмов?

In [38]:
answers['5'] = 107

In [7]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [39]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

In [8]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['profit'] = df['revenue'].sub(df['budget'], axis=0)
df.groupby(['imdb_id'])['profit'].max().sort_values(ascending = False)

imdb_id
tt0499549    2544505847
tt2488496    1868178225
tt0369610    1363528810
tt2820852    1316249360
tt0848228    1299557910
                ...
tt0424095     -84540684
tt0180052     -92896027
tt1305591    -111007242
tt0318974    -119180039
tt1210819    -165710090
Name: profit, Length: 1889, dtype: int64

# 7. Какой фильм самый убыточный?

In [40]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [9]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['profit'] = df['revenue'].sub(df['budget'], axis=0)
df.groupby(['imdb_id'])['profit'].min().sort_values(ascending = True)

imdb_id
tt1210819    -165710090
tt0318974    -119180039
tt1305591    -111007242
tt0180052     -92896027
tt0424095     -84540684
                ...
tt0848228    1299557910
tt2820852    1316249360
tt0369610    1363528810
tt2488496    1868178225
tt0499549    2544505847
Name: profit, Length: 1889, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [41]:
answers['8'] = 1478

In [10]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.query('revenue > budget')
df2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [42]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [11]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.query('release_year == 2008')
df2.groupby(['imdb_id'])['revenue'].max().sort_values(ascending = False)

imdb_id
tt0468569    1001921825
tt0367882     786636033
tt0441773     631744560
tt0448157     624029371
tt0795421     609841637
                ...
tt0486674       6673422
tt0800241       5926410
tt0844286       5530764
tt0805570       3533227
tt0490181       2033165
Name: revenue, Length: 121, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [43]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [12]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['profit'] = df['revenue'].sub(df['budget'], axis=0)
df2 = df.query('2012 <= release_year <= 2014')
df2.groupby(['imdb_id'])['profit'].min().sort_values(ascending = True)

imdb_id
tt1210819    -165710090
tt0790736     -68351500
tt1374992     -51893525
tt0884726     -51337973
tt1308729     -45510171
                ...
tt1690953     894761885
tt1074638     908561013
tt1300854    1015439994
tt2294629    1124219009
tt0848228    1299557910
Name: profit, Length: 367, dtype: int64

# 11. Какого жанра фильмов больше всего?

In [44]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [13]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['genres'] = df.genres.str.split('|')
df2=df.explode('genres')
popular_genre = df2.genres.value_counts()
popular_genre

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [45]:
answers['12'] = 'Action'

In [14]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['profit'] = df['revenue'].sub(df['budget'], axis=0)
df['genres'] = df.genres.str.split('|')
df2=df.explode('genres')
df2.groupby(['genres'])['profit'].max().sort_values(ascending=False).index[0]

'Action'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [46]:
answers['13'] = 'Peter Jackson'

In [15]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df['director'] = df.director.str.split('|')
df2=df.explode('director')
df2.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [47]:
answers['14'] = 'Robert Rodriguez'

In [16]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['director'] = df2.director.str.split('|')
df2=df2.explode('director')
df2['genres'] = df2.genres.str.split('|')
df2=df2.explode('genres')
df2.query('genres in ["Action"]').director.value_counts()

Robert Rodriguez        9
Michael Bay             7
Paul W.S. Anderson      7
Antoine Fuqua           6
Ridley Scott            6
                       ..
Malcolm D. Lee          1
Dave Meyers             1
Robert Stromberg        1
Nicolas Winding Refn    1
Tarsem Singh            1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
answers['15'] = 'Chris Hemsworth'

In [17]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.query('release_year == 2012').copy()
df2['cast'] = df2.cast.str.split('|')
df2 = df2.explode('cast')
df2.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [49]:
answers['16'] = 'Matt Damon'

In [18]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['cast'] = df2.cast.str.split('|')
df2 = df2.explode('cast')
actor = df2[df2.budget > df2.budget.mean()].groupby('cast').imdb_id.count().sort_values(ascending=False)
actor

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: imdb_id, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [50]:
answers['17'] = 'Action'

In [19]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['cast'] = df2.cast.str.split('|')
df2 = df2.explode('cast')
df2['genres'] = df2.genres.str.split('|')
df2=df2.explode('genres')
df2.query('cast in ["Nicolas Cage"]').genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [51]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [20]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['profit'] = df2['revenue'].sub(df2['budget'], axis=0)
df2['production_companies'] = df2.production_companies.str.split('|')
df2 = df2.explode('production_companies')
df2 = df2[df2.production_companies.str.match("Paramount Pictures", na=False)]
df2.groupby(['imdb_id'])['profit'].min().sort_values(ascending=True).index[0]

'tt0267626'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [52]:
answers['19'] = 2015

In [21]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
answers['20'] = 2014

In [22]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['profit'] = df2['revenue'].sub(df2['budget'], axis=0)
df2['production_companies'] = df2.production_companies.str.split('|')
df2 = df2.explode('production_companies')
df2 = df2[df2.production_companies.str.match("Warner Bros", na=False)]
df2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [54]:
answers['21'] = 'September'

In [23]:
import pandas as pd
import datetime

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2.release_date = df2.release_date.apply(lambda x: x.strftime('%B'))
df2.groupby(['imdb_id'])['release_date'].sum().value_counts()

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
answers['22'] = 450

In [24]:
import pandas as pd
import datetime

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2.release_date = df2.release_date.apply(lambda x: x.strftime('%B'))
num = df2.query('release_date in ["June", "July", "August"]').shape[0]
print(f'Летом суммарно вышло фильмов в количестве {num} шт.')

Летом суммарно вышло фильмов в количестве 450 шт.

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = 'Peter Jackson'

In [25]:
import pandas as pd
import datetime as dt
from datetime import datetime

df = pd.read_csv('movie_bd_v5.csv')
cols = ['director', 'release_date', 'original_title']
df2 = df[cols].copy()
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2['director'] = df2.director.str.split('|')
df2 = df2.explode('director')
df2.release_date = df2.release_date.apply(lambda x: x.strftime('%B'))
df2 = df2.query('release_date in ["December", "January", "February"]')
df2
df2_pt = df2.pivot_table(index = 'director', columns = 'release_date',
                        values = 'original_title', aggfunc = 'count', fill_value = 0)
display(df2_pt)
num = df2_pt[["December", "January", "February"]].sum(axis=1).max()
name = df2_pt[["December", "January", "February"]].sum(axis=1).idxmax()
print(f'для режиссера по имени {name} зима - самое продуктивное время года.')
print(f'Именно в зимние месяцы он выпустил {num} фильмов.')

release_date    December  February  January
director
Aaron Seltzer          0         1        2
Adam McKay             2         0        0
Adam Shankman          2         0        2
Akiva Goldsman         0         1        0
Alan Parker            0         1        0
...                  ...       ...      ...
Wes Anderson           1         1        0
Wes Craven             0         2        0
Will Gluck             1         0        0
Will Graham            0         0        1
Xavier Palud           0         1        0

[358 rows x 3 columns]

для режиссера по имени Peter Jackson зима - самое продуктивное время года.
Именно в зимние месяцы он выпустил 7 фильмов.

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
answers['24'] = 'Four By Two Productions'

In [26]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['production_companies'] = df2.production_companies.str.split('|')
df2 = df2.explode('production_companies')
df2['title_len'] = df2['original_title'].apply(len)
df2.groupby('production_companies').title_len.mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = 'Midnight Picture Show'

In [27]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['production_companies'] = df2.production_companies.str.split('|')
df2 = df2.explode('production_companies')
def len_words(s):
    return len(s.split(' '))
df2['len_overview'] = df2.overview.apply(len_words)
pivot_studios = df2.pivot_table(['len_overview'],['production_companies'], aggfunc='mean').sort_values(by='len_overview', ascending = False)
pivot_studios

                                       len_overview
production_companies
Midnight Picture Show                         175.0
Heineken Branded Entertainment                161.0
Room 9 Entertainment                          161.0
98 MPH Productions                            159.0
Brookwell-McNamara Entertainment              156.0
...                                             ...
Henceforth                                     13.0
Our Stories Films                              13.0
London Boulevard                               13.0
Motion Picture Corporation of America          11.0
Empire Pictures                                11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [28]:
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
s = df2['vote_average'].quantile(q=0.99)
best_movies = df2[df2['vote_average'] > df2['vote_average'].quantile(q=0.99)]
best_movies

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [60]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [29]:
from collections import Counter
from itertools import combinations
import pandas as pd

df = pd.read_csv('movie_bd_v5.csv')
pairs = Counter()
for i in range(0,len(df)):
    artists = df.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'3': 'Winnie the Pooh (tt1449283)',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Action',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27